.footer {   
    display: flex;
    justify-content: center; 
    justify-content: space-around;   
    width: 100%;
    padding:10px;
    height: 40px;
    background-color: lightgrey;
}

.cell {    
    font-size: 15px;
    font-style: italic;
    display: flex;
    align-items:center;
}
    
    
    